"""
Config to connect with Earth Explorer.
Account and password are necessary. 
In addition, you can add proxy settings using the same syntax sigueinte file:

proxy_user = admin
proxy_pass = x
proxy_host = proxy-http1.cnes.fr
proxy_port = 8050

The order in which they are is not important, but yes the capital letters
"""
account = ****
password = *****